<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Ping Pong - Bot</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="game-body">
<div id="gameContainer">
    <!--    <div id="progressBar">-->
    <!--    </div>-->

    <div class="play-active-bar">
<!--        <div id="home-Btn">Home</div>-->
        <div id="score-display">Player: 0 | Bot: 0</div>
                <span id="xp-display"> </span>
        <!--        <span id="coins-display">🟡 0</span>-->
    </div>


    <div id="categoryIcon" class="category-icon hidden"></div>

    <canvas id="gameCanvas"></canvas>

    <div id="categoryOverlay" class="overlay hidden">
        <div class="overlay-card">
            <h2>Select Category</h2>
            <div id="categoryList" class="category-list"></div>
            <h3>Select Level</h3>
            <div id="levelList" class="level-list"></div>
        </div>
        <button id="skipCategoryBtn" class="btn">Skip</button>

    </div>
</div>

<div id="endOverlay">
    <div class="overlay-card">
        <div class="level-category">
            <div class="reward level">
                 <span id="levelReached"></span>
            </div>
        </div>
        <h2 id="endTitle"></h2>
        <div id="endEmoji"></div>
        <div class="reward-row">
            <div class="reward">
                <span class="icon"></span>
                <span id="earnedXP"></span>
            </div>
            <div class="reward">
                <span class="icon"></span>
                <span id="earnedCoins"></span>
            </div>

        </div>


        <div class="overlay-buttons">
            <div id="reviveBtn" class="btn big">Revive</div>
            <div id="nextBtn" class="btn big">Next Level</div>
            <div id="startBtn" class="btn big hidden">Start Game</div>
            <div id="exitBtn" class="btn hidden">Exit</div>
        </div>

    </div>
</div>


<script type="module" src="/js/game.js"></script>
<!--<script type="module" src="/js/cubeProgress.js"></script>-->
<!--<script type="module" src="/js/progressBar.js"></script>-->

</body>
</html>
