<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Ping Pong - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home-body" >
<!-- 🔹 Loader -->
<div id="loader">
    <div class="loader-content">
        <img src="/assets/img/pingpong-loader.png" alt="Loading Logo">
        <div class="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div>
        <p id="progress-text">Loading 0%</p>
    </div>
</div>

    <div id="gameContainer">
        <canvas id="gameHomePaddle"></canvas>

        <!-- Left Menu -->
        <div class="side-menu left">
            <a href="/challenge" class="menu-btn">
                <div class="menu-btn-icon"><i class="fas fa-trophy"></i></div>
                Challenge
            </a>
            <a href="/daily" class="menu-btn">
                <div class="menu-btn-icon"><i class="fas fa-gift"></i></div>
                Daily
            </a>
            <a href="/vip" class="menu-btn">
                <div class="menu-btn-icon"><i class="fas fa-crown"></i></div>
                VIP
            </a>
        </div>

        <!-- Right Menu -->
        <div class="side-menu right">
            <a href="/level" class="menu-btn">
                <div class="menu-btn-icon"><i class="fas fa-medal"></i></div>
                Level
            </a>
            <a href="/settings" class="menu-btn">
                <div class="menu-btn-icon"><i class="fas fa-sliders-h"></i></div>
                Settings
            </a>
        </div>

        <!-- Progress Display -->
        <div id="progressHomeBar">

            <span id="xp-display">💎: 0 | Lvl: 1</span>
            <span id="coins-display">💰 0</span>
        </div>
<!--        bottom pad-->
        <a href="/bot" id="btnPlay"> PLAY </a>

    </div>


<div id="howToPlay" class="container how-to-play hidden">
    <h1>How to Play</h1>


<!--    <button id="btnPlayNow" class="btn big">Start Playing</button>-->
    <button id="btnBackHome" class="btn">Back to Home</button>
</div>
<script src="/js/paddlehome.js"></script>

<script src="/js/howtobtns.js"></script>
<script src="/js/fetchdata.js"></script>
<script src="js/loader.js"></script>


</body>
</html>
