<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - Ping Pong</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
            color: #fff;
            min-height: 100vh;
            padding: 20px;
            position: relative;
        }


    </style>
</head>
<body>
<!-- Close button (X) at the top right -->
<a href="/" class="close-button">&times;</a>



<script>

    // Functionality for volume slider
    // const volumeSlider = document.querySelector('.volume-slider');
    // const volumeValue = volumeSlider.nextElementSibling;
    //
    // volumeSlider.addEventListener('input', function () {
    //     volumeValue.textContent = this.value + '%';
    // });

    // Add toggle functionality to all switches
    // document.querySelectorAll('.toggle-switch input').forEach(switchInput => {
    //     switchInput.addEventListener('change', function () {
    //         // Add any additional functionality when toggling switches
    //         console.log('Switch toggled:', this.checked);
    //     });
    // });
    // Master Sound toggle


</script>
</body>
</html>